.italic {
  font-style: italic;
}

hr {
  width: 85%;
  margin-bottom: 25px;
}

.box {
  border: 1px solid #a1a1a1;
}

#results {
  display: none;
}

.grey {
  color: #a1a1a1;
}

.light_grey {
  color: #D7D7D7;
}
